### IDE ###
*.iml
*.ipr
*.iws
.idea
.classpath
.factorypath
.project
.settings
.springBeans
.apt_generated
.metadata
.recommenders
rebel.xml

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
target/
target
dependency-reduced-pom.xml
pom.xml.versionsBackup
.flattened-pom.xml

### Build ###
/build
build/
build
build.log
bin
bin/
lib/
codes/

### Logs ###
/logs/
*.log
log.*/
transaction-logs

### Archives ###
*.jar
*.war
*.ear
*.tar
*.tar.gz
*.gz

### Temporary files ###
*#
*.sw?
*~
.#*
.*.md.html
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### System files ###
.DS_Store
Thumbs.db
Servers

### Application specific ###
/code
MANIFEST.MF
_site/
activemq-data
dump.rdb
interpolated*.xml
manifest.yml
overridedb.*
secrets.yml
upload
gen_code

### Node ###
node_modules

### Server ###
/server/nacos-server/data
/server/nacos-server/logs

### Libraries ###
!/libs/*.jar

### Development tools ###
.fastRequest
*.http
*.json
qodana.yaml
